<?xml version="1.0"?>

<model>
  <name>acircles_pattern</name>
  <version>1.0</version>
  <sdf version='1.6'>acircles_pattern.sdf</sdf>

  <author>
    <name>skywoodsz</name>
    <email>skywoodszcn@gmail.com</email>
  </author>

  <description>
    A plane with a reference texture on it depicting an asymmetrical circle pattern.
  </description>
</model>
